.app-header {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  padding: 10px 20px;

  color: #fff;
  font-size: 2rem;
  font-weight: bold;

  background-color: #2c3e50;
  border-bottom: 1px solid #ccc;
}
.app-title {
  flex-grow: 1;
  flex-shrink: 0;
}
.app-token-opener {
  flex-grow: 0;
  flex-shrink: 0;
}

.app-content {
  padding: 20px;
}

.projects-archived-switch {
  display: block;
  padding: 10px;
  color: #bbb;
}
.projects-archived-switch:hover {
  color: #888;
}
.projects-archived-switch .fa {
  display: inline-block;
  width: 25px;
  height: 25px;
}
