* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: sans-serif;
}

a {
  color: #16a085;
  text-decoration: none;
}
a:hover {
  color: #1abc9c;
}

label {
  font-size: .9rem;
  font-weight: bold;
}
input[type="text"],
input[type="url"],
input[type="email"],
input[type="date"],
input[type="password"],
textarea {
  width: 200px;
  max-width: 100%;
  min-width: 0;
  padding: 6px 12px;

  color: #555;
  line-height: 1.2rem;
  font-family: inherit;
  font-size: inherit;

  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 1px 1px #eee inset;
}
input[type="text"]:focus,
input[type="url"]:focus,
input[type="email"]:focus,
input[type="date"]:focus,
input[type="password"]:focus,
textarea:focus {
  border-color: #3498db;
}
input[type="text"]:disabled,
input[type="url"]:disabled,
input[type="email"]:disabled,
input[type="date"]:disabled,
input[type="password"]:disabled,
textarea:disabled {
  background-color: #f9f9f9;
  border-color: #ccc;
}
textarea {
  width: 350px;
  min-height: 50px;
}

.form-group {
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  margin-bottom: 20px;
}
.form-group label {
  width: 200px;
  padding-right: 20px;
}
.form-group-actions {
  padding-left: 200px;
}
.form-group-vertical {
  flex-direction: column;
}
.form-group-vertical label {
  width: auto;
}

.btn {
  display: inline-block;
  margin-right: 5px;
  padding: 6px 12px;

  white-space: nowrap;
  vertical-align: middle;

  font-size: 1rem;
  text-align: center;
  line-height: 1.4rem;

  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
}
.btn:focus { border-color: transparent; }
.btn:hover { text-decoration: none; }
.btn.disabled {
  color: #333;

  border: 1px solid #ccc;
  background-color: #f9f9f9;

  cursor: not-allowed;
  opacity: .75;
  outline: none;
}

.btn-primary:not(.disabled) {
  color: #fff;
  background-color: #16a085;
}
.btn-primary:not(.disabled):hover {
  color: #fff;
  background-color: #1abc9c;
}

.btn-link:not(.disabled):hover {
  border: 1px solid #1abc9c;
}
.btn-link.disabled {
  background-color: transparent;
}
