* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: sans-serif;
}

a {
  color: #16a085;
  text-decoration: none;
}
a:hover {
  color: #1abc9c;
}

label {
  font-size: .9rem;
  font-weight: bold;
}
textarea {
  width: 350px;
  max-width: 100%;
  min-height: 50px;
  margin-top: 5px;
  padding: 10px 15px;

  font-family: sans-serif;
  font-size: 1rem;

  background: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form-group {
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  margin-bottom: 20px;
}
.form-group label {
  width: 200px;
  padding-right: 20px;
}
