.period-labels {
  display: flex;
  align-items: stretch;
  margin-left: 310px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.period-label {
  width: 25px;
  height: 25px;
  padding: 3px 5px;

  line-height: 19px;
  color: #555;
  white-space: nowrap;
  overflow: visible;
}
.period-label-active {
  font-weight: bold;
}
