.mood-snap-form {
  padding: 20px;
}
.mood-snap-form textarea {
  width: 400px;
  max-width: 400px;
  min-width: 400px;
}

.mood-input {
  display: flex;
  align-items: stretch;
}
.mood-input.disabled {
  cursor: not-allowed;
  opacity: .65;
  outline: none;
}

.mood-input .mood-snap {
  color: #fff;
}
.mood-input .mood-snap:hover {
  color: #fff;
}
.mood-input .mood-snap-unknown {
  background-color: #bdc3c7;
}
